.project{
    position: relative;
}

.project p{
    font-size: 0.8rem;
}

.optionsBtn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3rem;
}

.menu{
    position: absolute;
    top: 50px;
    right: 20px;
    width: 100px;
    font-size: .9rem;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}